.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.CaptionLabel {
  font-size: 14px;
  color: black;
}


.DataLabel {
  font-size: 14px;
  color:black;
}


.ErrorLabel {
  font-size: 12px;
  color:red;
}


